
.show{
    margin-left: 60vh;
    margin-top: 100px;
}
.forms{
    background-color: rgba(43, 109, 137, 0.333);
    width: 400px;
    height: auto;
    border-radius: 8px;
    text-align: left;
    padding-left: 30px; 
    margin-top: 10px;
    padding-bottom: 30px;
    margin-left: 70vh;

}
.input{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
      
}
.btn{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: none;
    background-color:rgb(36, 160, 118);
    font-weight: bolder;
    margin-top: 30px;

}

.btn:hover{
    background-color: rgb(3, 167, 3);
}
.error{
    color: red;
}